@tailwind base;
@tailwind components;
@tailwind utilities;
::selection {
  background: #fecd48;
}
body {
  font-family: Plus Jakarta Display, sans-serif;
  line-height: 1;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  overflow-x: hidden;
}
.layout-container {
  max-width: 1239px;
  margin-left: auto;
  margin-right: auto;
}
.grid-cols-prod {
  display: grid;
  grid-template-columns: 10fr 37fr;
}
.grid-cols-card {
  display: grid;
  grid-template-columns: 163fr 72fr;
}
.grid-cols-card-items {
  display: grid;
  grid-template-columns: 29fr 11fr 9fr 9fr;
}
